


.carousel-wrapper {
  display: flex;
  flex-direction: column;
}

.carousel-flex-container {
  display: flex;
  user-select: none;
}

#carousel-content {
  overflow-y: hidden;
  overflow-x: scroll;
}

#carousel-slides {
  display: flex;
}

.carousel-slide {
  display: flex;
  scroll-snap-align: start;
  overflow-y: scroll;
}

.carousel-slide > * {
  margin: auto;
}

.navigation {
  width: 50px;
  height: 50px;
  align-self: center;
}

.slide-input-form {
  align-self: center;
}

.slide-input-form > * {
  height: 30px;
  width: 80px;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 20px;
}

.carousel-slide,
#carousel-content {
  -ms-overflow-style: none; // Hides scrollbar for IE and Edge
  scrollbar-width: none; //      ^^for Firefox
}
// Hides scrollbar for Chrome, Safari and Opera
.carousel-slide::-webkit-scrollbar,
#carousel-content::-webkit-scrollbar {
  display: none;
}