// ------------Carousel styling--------------------

$carousel-width: 1000px;     
$carousel-height: 300px;
$slides-amount: 4;
// $content-width: 200px;       //optional
// $content-height: 200px;      //optional 

/* ------------------------------------------------- 
note that navigation buttons add 50px to sides
and slider input adds 40px to bottom of component
example - carousel  width: 800px,  carousel  height: 300px
          component width: 900px,  component height: 340px        
*/



$carousel-width: min($carousel-width, ( calc(100vh - 100px) ));
$content-width: 100% !default; //fallback values
$content-height: auto !default; //in case they are not set
$slide-width: calc($carousel-width/$slides-amount);
:export {   //for JS to work with
    slideWidth: $slide-width;
    slidesAmount: $slides-amount;
}